{% extends 'base.html' %}

{% block content %}
  <header>
      <h1>Login</h1>
  </header>
  <div class="content">
      <form method="post">
        <label for="username">Username</label>
        <input name="username" id="username" required>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
        <input type="submit" name="source-login" value="Calendar Events Login">
        <input type="submit" name="user-login" value="User Events Login">
      </form>
  </div>
{% endblock %}