{% extends 'base.html' %}

{% block content %}
<main role="main" class="container" >
  <div class="container d-none d-md-block">
    <form method="post" class="justify-content-center">
      <legend class="h3 text-center mb-4">Register</legend>
        <div class="form-group row justify-content-center">
          <label for="username" class="h5 col-sm-2 col-form-label">Username</label>
          <div class="col-sm-5">
            <input type="text" class="form-control" id="username" name="username">
          </div>
        </div>
        <div class="form-group row justify-content-center">
          <label for="password" class="h5 col-sm-2 col-form-label">Password</label>
          <div class="col-sm-5">
            <input type="password" class="form-control" id="password" name="password">
          </div>
        </div>
        <div class="form-group row justify-content-center">
          <div class="col-sm-8 offset-sm-5">
            <button type="submit" value="Register" class="btn btn-info">Register</button>
          </div>
        </div>
    </form>
  </div>
</main>
{% endblock %}
© 2019 GitHub, Inc.
