{% extends 'base.html' %}

{% from 'events/confirmation.html' import confirmation %}
{% from 'events/searchbox.html' import searchbox %}

{% block header %}
<h1>{% block title %}{{title}}{% endblock %}</h1>
{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{url_for('event.source', sourceId=source[0])}}">{{source[1]}}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
  </ol>
</nav>

<h1 class="text-center">{{title}} <span class="badge badge-success">Approved</span></h1>

{% if calendarStatus == "approved" %}
{{ confirmation("disapprove", title) }}
{% else %}
{{ confirmation("approve", title) }}
{% endif %}

<div class="container-fluid">
  <div class="row mt-3 mb-3">
    <div class="col text-center">
      {% if calendarStatus == "approved" %}
      <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#confirmModal">Disapprove</button>
      {% else %}
      <button type="button" class="btn btn-success" data-toggle="modal" data-target="#confirmModal">Approve</button>
      {% endif %}
    </div>
  </div>

  <div class="row row-content mt-3 mb-3">
      <div class="col-1 float-left"><h4>Show</h4></div>
      <div class="col float-left">
        <input type="checkbox" class="form-check-input" id="materialInline1" {% if "approved" in select_status %}checked{%endif%}>
        <label class="form-check-label" for="materialInline1">Approved</label>
      </div>
      <div class="col float left">
          <input type="checkbox" class="form-check-input" id="materialInline2" {% if "disapproved" in select_status %}checked{%endif%}>
          <label class="form-check-label" for="materialInline2">Disapproved</label>
      </div>
      <div class="col float-left">
          <input type="checkbox" class="form-check-input" id="materialInline3" {% if "published" in select_status %}checked{%endif%}>
          <label class="form-check-label" for="materialInline3">Published</label>
      </div>
    <!--  checkbox group -->
    <div class="col-7 float-right">
      {{ searchbox(eventTypeValues) }}
    </div>

  </div>

</div>

<div id = "accordion">
  {% for post in posts %}
      <div class="card">
        <div class="card-header" role="tab" id = "head">
        <h3 class="mb-0">
            <a href="{{url_for('event.detail', eventId=post._id) }}" class="btn btn-default ml-auto float-left">
              <h4 class="mb-0">{{ post.title }}</h4>
            </a>
        </h3>

        </div>
        <div role="tabpanel" class="collapse" id="{{post._id}}">
            <div class="card-body">
              <p class="d-none d-sm-block">
                {% autoescape false %}
                {{post.description}}
                {% endautoescape %}
              </p>
            </div>
        </div>
    </div class = "card">
  {% endfor %}
</div class = "accordion">
<br>

<div class="d-flex justify-content-center">
{{ pagination.links }}
</div>

{% endblock %}

{% block scripts%}
  {{ super() }}
  <script>
    $("#approvebutton").click(function() {
      $.post("{{ url_for('event.approveCalendar') }}",
      {
        "calendarId": {{ calendarId}}
      },
      function(data) {
        if (data == "success") {
          location.reload();
        }
      });
    });

    $("#disapprovebutton").click(function() {
      $.post("{{ url_for('event.disapproveCalendar') }}",
      {
        "calendarId": {{ calendarId}}
      },
      function(data) {
        if (data == "success") {
          location.reload();
        }
      });
    });

    $("#materialInline1, #materialInline2, #materialInline3").on('click', function() {
      let approved = ( $('#materialInline1').is(':checked') ? 1: 0);
      let disapproved = ( $('#materialInline2').is(':checked') ? 1: 0);
      let published = ( $('#materialInline3').is(':checked') ? 1: 0);
      console.log(approved, disapproved, published);
      $.ajax(
        {
          url: "{{ url_for('event.select', calendarId=calendarId) }}",
          dataType: 'json',
          type    : 'POST',
          data    : {
            approved: approved,
            disapproved: disapproved,
            published: published
          },
        }
      ).always(function() {
        location.reload(true);
      });
    })
  </script>
{% endblock %}
