{% macro confirmation(usage, title) %}
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          {% if usage == "approve" %}
          Approve calendar
          {% elif usage == "disapprove" %}
          Disapprove calendar
          {% elif usage == "approveEvent" %}
          Approve event
          {% elif usage == "disapproveEvent" %}
          Disapprove event
          {% else %}
          Download
          {% endif %}
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% if usage == "approve" %}
        Are you sure you want to approve the calendar <b>{{title}}</b> ?
        {% elif usage == "disapprove" %}
        Are you sure you want to disapprove the calendar <b>{{title}}</b> ?
        {% elif usage == "approveEvent" %}
        You are about to approve the following event <b>{{title}}</b>
        {% elif usage == "disapproveEvent" %}
        You are about to disapprove the following event <b>{{title}}</b>
        {% else %}
        Are you sure you want to start downloading the approved calendars?
        {% endif %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary ml-1"
        {% if usage == "approve" or usage == "approveEvent" %}
        id="approvebutton"
        {% elif usage == "disapprove" or usage == "disapproveEvent" %}
        id="disapprovebutton"
        {% else %}
        id="download"
        {% endif %}
        >OK</button>
      </div>
    </div>
  </div>
</div>
{% endmacro %}
