{% extends "base.html" %}

{% block title %}
  Edit - {{post.title}}
{% endblock %}

{% block modals %}
<!-- the save Confirmation form -->
<div id="SaveModal" class="modal fade" role="dialog">
 <div class="modal-dialog modal-lg" role="content">
   <!-- Modal content-->
   <div class="modal-content">
     <div class="modal-header">
         <h4 class="modal-title">Confirmation </h4>
         <button type="button" class="close" data-dismiss="modal">&times;</button>
     </div>
     <div class="modal-body">

         <!-- table form here -->
         <div class="form-group row">
             <label class="col-12 col-form-label"><center>You are about to save your edition the following event: </center></label>
         </div>
         <div class="form-group row">
             <h2 class="col-12">{{post.title}}</h2>
         </div>
         <div class="offset-md-2 col-md-10">
             <button type="button" class="btn btn-secondary btn-sm-1" data-dismiss="modal">Cancel</button>
             <button type="submit" class="btn btn-primary btn-sm-1">Confirm</button>
         </div>

       </div>
     </div>
   </div>
 </div>
{% endblock %}


{% block content %}
 <!-- filter and select operations -->
  <!-- back to all events button -->
  {% if isUser %}
  <form id = "form" action = "{{url_for('user_events.user_an_event_edit', id=post['_id'])}}" method="POST">
  <div class="media">
    <a class="btn btn-dark" href="{{ url_for('user_events.user_an_event', id=post['_id'])}}" role="button">Back To Event Details</a>
  </div>
  {% else %}
  <form id = "form" action = "{{url_for('event.edit', eventId=post['_id'])}}" method="POST">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ url_for('event.source', sourceId=post['sourceId']) }}">{{sourceName}}</a></li>
      <li class="breadcrumb-item"><a href="{{ url_for('event.calendar', calendarId=post['calendarId']) }}">{{calendarName}}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{post['title']}}</li>
    </ol>
  </nav>
  {% endif %}
  <!-- form inputs -->
     <article class="media content-section">
       <div class="media-body">
          <h2><a class="article-title">{{ post.title }}</a></h2>
          <hr class="divider"/>
          <!-- event url -->
          {% if post.titleURL%}
            <div class="form-group row ">
              <label class="col-12 col-sm-2 form-control-label">
                <h5>Event URL: </h5>
              </label>
              <div class="col-sm-9">
                <input class="form-control" type="url" id="titleURL" name="titleURL" value="{{post.titleURL}}" />
              </div>
            </div>
          {% else %}
          <div class="form-group row ">
            <label class="col-12 col-sm-2 form-control-label">
              <h5>Event URL: </h5>
            </label>
            <div class="col-sm-9">
              <input class="form-control" type="url" id="titleURL" name="titleURL"/>
            </div>
          </div>
          {% endif %}

          <!-- event category -->
          <div class="form-group row ">
            <div class="col-12 col-sm-2">
              <h5>Category: </h5>
            </div>
            <div class="col-sm-9">
              <div class="form-group">
                <select name="category" id = "category" class="selectpicker" title="Category..." >
                  {% for key in eventTypeValues %}
                    {% if post.category == key%}
                      <option value = "{{key}}" id = {{key}} selected = true>{{key}}</option>
                    {% else %}
                      <option value = "{{key}}" id = {{key}}>{{key}}</option>
                    {% endif %}
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
          <!-- subcategory -->
          {% if post['category'] == 'Athletics' %}
            <div class="form-group row ">
              <div class="col-12 col-sm-2">
                <h5>Subcategory: </h5>
              </div>
              <div class="col-sm-9">
                <div class="form-group">
                  <select name="subcategory" id = "subcategory" class="selectpicker" title="Subcategory">
                    {% for key in subcategoriesMap['Athletics'] %}
                      {% if post.subcategory == key%}
                        <option value = "{{key}}" id = {{key}} selected = true>{{key}}</option>
                      {% else %}
                        <option value = "{{key}}" id = {{key}}>{{key}}</option>
                      {% endif %}
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>
          {% else %}
            <div class="form-group row ">
              <div class="col-12 col-sm-2">
                <h5>Subcategory: </h5>
              </div>
              <div class="col-sm-9">
                <div class="form-group">
                  <select name="subcategory" id = "subcategory" class="selectpicker" title="Subcategory" disabled>
                    {% for key in subcategoriesMap['Athletics'] %}
                      <option value = "{{key}}" id = {{key}}>{{key}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>
          {% endif %}

          <!-- startDate -->
          {% if post.startDate%}
            <div class="form-group row ">
              <div class="col-12 col-sm-2">
                <h5> Start Date: </h5>
              </div>
              <div class="col-sm-9">
                <input class="form-control" type="datetime-local" id="startDate" name="startDate" value={{post.startDate}} />
              </div>
            </div>
          {% else %}
            <div class="form-group row ">
              <div class="col-12 col-sm-2">
                <h5> Start Date: </h5>
              </div>
              <div class="col-sm-9">
                <input class="form-control" type="datetime-local" id="startDate" name="startDate" />
              </div>
            </div>
          {% endif %}

          <!-- endDate -->
          {% if post.endDate%}
            <div class="form-group row ">
              <div class="col-12 col-sm-2">
                <h5>End Date: </h5>
              </div>
              <div class="col-sm-9">
                <input class="form-control" type="datetime-local" id="endDate" name="endDate" value={{post.endDate}} />
              </div>
            </div>
          {% else %}
            <div class="form-group row ">
              <div class="col-12 col-sm-2">
                <h5> End Date: </h5>
              </div>
              <div class="col-sm-9">
                <input class="form-control" type="datetime-local" id="endDate" name="endDate"/>
              </div>
            </div>
          {% endif %}

          <!-- location -->
          {% if post.location %}
            <!-- description TODO CHANGE -->
            {% if post.location.description %}
              <div class="form-group row ">
                <div class="col-12 col-sm-2">
                  <h5>Location: </h5>
                </div>
                <div class="col-sm-9">
                  <input class="form-control" type="text" value= "{{post.location.description}}" />
                </div>
              </div>
            {% else %}
              <div class="form-group row ">
                <div class="col-12 col-sm-2">
                  <h5>Location: </h5>
                </div>
                <div class="col-sm-9">
                  <input class="form-control" type="text"/>
                </div>
              </div>
            {% endif %}
          {% endif %}

          <!-- target audience -->
          <!-- TODO -->
          <div class="form-group row ">
            <div class="col-12 col-sm-2">
              <h5>Target Audience: </h5>
            </div>
            <div class = "col-sm-9">
              <input id="targetAudience" name="targetAudience" class="form-control" type="text" value="{{audience_text}}" />
            </div>
          </div>

          <!-- cost -->
          {% if post.cost%}
            <div class="form-group row ">
              <div class="col-12 col-sm-2">
                <h5>Cost: </h5>
              </div>
              <div class="col-sm-9">
                <input class="form-control" type="text" name="cost" value="{{post.cost}}" />
              </div>
            </div>
          {% else %}
            <div class="form-group row ">
              <div class="col-12 col-sm-2">
                <h5>Cost: </h5>
              </div>
              <div class="col-sm-9">
                <input class="form-control" type="text" name="cost"/>
              </div>
            </div>
          {% endif %}

          <!-- contacts -->
          <!--  TODO -->
          {% if post.contacts %}
            {% for contact in post.contacts %}
              {% if contact.firstName and contact.lastName %}
                <div class="form-group row ">
                  <div class="col-12 col-sm-2">
                    <h5>Contact Person: </h5>
                  </div>
                  <div class="col-sm-2">
                    <input class="form-control" type="text" value="{{contact.firstName}}" />
                  </div>
                  <div class="col-offset-6 col-sm-2">
                    <input class="form-control" type="text" value="{{contact.lastName}}" />
                  </div>
                </div>
              {% elif contact.firstName %}
                <div class="form-group row ">
                  <div class="col-12 col-sm-2">
                    <h5>Contact Person: </h5>
                  </div>
                  <div class="col-sm-2">
                    <input class="form-control" type="text" value="{{contact.firstName}}" />
                  </div>
                  <div class="col-offset-6 col-sm-2">
                    <input class="form-control" type="text" />
                  </div>
                </div>
              {% elif contact.lastName %}
                <div class="form-group row ">
                  <div class="col-12 col-sm-2">
                    <h5>Contact Person: </h5>
                  </div>
                  <div class="col-sm-2">
                    <input class="form-control" type="text" />
                  </div>
                  <div class="col-offset-6 col-sm-2">
                    <input class="form-control" type="text" value="{{contact.lastName}}" />
                  </div>
                </div>
              {% else %}
                <div class="form-group row ">
                  <div class="col-12 col-sm-2">
                    <h5>Contact Person: </h5>
                  </div>
                  <div class="col-sm-2">
                    <input class="form-control" type="text" />
                  </div>
                  <div class="col-offset-6 col-sm-2">
                    <input class="form-control" type="text" />
                  </div>
                </div>
              {% endif %}

              {% if contact.email %}
                <div class="form-group row ">
                  <div class="col-12 col-sm-2">
                    <h5>Contact Email: </h5>
                  </div>
                  <div class="col-sm-9">
                    <input class="form-control" type="email" value={{contact.email}} />
                  </div>
                </div>
              {% else %}
                <div class="form-group row ">
                  <div class="col-12 col-sm-2">
                    <h5>Contact Email: </h5>
                  </div>
                  <div class="col-sm-9">
                    <input class="form-control" type="email"/>
                  </div>
                </div>
              {% endif %}

              {% if contact.phone %}
                <div class="form-group row ">
                  <div class="col-12 col-sm-2">
                    <h5>Contact Phone: </h5>
                  </div>
                  <div class="col-sm-9">
                    <input class="form-control" type="text" value={{contact.phone}} />
                  </div>
                </div>
              {% else %}
                <div class="form-group row ">
                  <div class="col-12 col-sm-2">
                    <h5>Contact Phone: </h5>
                  </div>
                  <div class="col-sm-9">
                    <input class="form-control" type="text"/>
                  </div>
                </div>
              {% endif %}
            {% endfor%}
          <!-- if there is no contact currently TODO -->
          {% else %}


          {% endif %}

          <!-- tags TODO-->
          <div class="form-group row ">
            <div class="col-12 col-sm-2">
              <h5>Tags: </h5>
            </div>
            <div class = "col-sm-9">
              <input id="tags" name="tags" class="form-control" type="text" value="{{tags_text}}"/>
            </div>
          </div>

          <!-- sponsor -->
          {% if post.sponsor%}
            <div class="form-group row ">
              <div class="col-12 col-sm-2">
                <h5>Sponsor: </h5>
              </div>
              <div class="col-sm-9">
                <input class="form-control" type="text" id="sponsor" name="sponsor" value="{{post.sponsor}}" />
              </div>
            </div>
          {% else %}
            <div class="form-group row ">
              <div class="col-12 col-sm-2">
                <h5>Sponsor: </h5>
              </div>
              <div class="col-sm-9">
                <input class="form-control" type="text" id="sponsor" name="sponsor"/>
              </div>
            </div>
          {% endif %}

          <!-- description -->
          {% if post.description%}
          <div class="form-group row ">
            <div class="col-12 col-sm-2">
              <h5>Description: </h5>
            </div>
            <div class="col-12 col-sm-9">
                <textarea name = "description" id="description" class="form-control" rows="12">{{post.description}}</textarea>
            </div>
          </div>
          {% else %}
            <div class="form-group row ">
              <div class="col-12 col-sm-2">
                <h5>Description: </h5>
              </div>
              <div class="col-12 col-sm-9">
                  <textarea name = "description" id="description" class="form-control" rows="12"></textarea>
              </div>
            </div>
          {% endif %}
        </div>
     </article>

  <!-- cancel/submit button groups -->
  <div class="row justify-content-center">
   <div role="toolbar" aria-label="Toolbar with button groups">
     <div class="btn-group mr-2" role="group" aria-label="first group">
       {% if isUser %}
       <a class="btn btn-block nav-link btn-outline-secondary" href="{{ url_for('user_events.user_an_event', id=post['_id']) }}" role="button">Cancel</a>
       {% else %}
       <a class="btn btn-block nav-link btn-outline-secondary" href="{{ url_for('event.detail', eventId=post['_id']) }}" role="button">Cancel</a>
       {% endif %}
     </div>
     <div class="btn-group mr-2" role="group" aria-label="Second group">
       <!-- discard the modal use js to alarm Confirmation later -->
       <!-- <a class="btn btn-block nav-link btn-primary" role="button" data-toggle="modal" data-html="true" data-target="#SaveModal">Save</a> -->
       <button id="submit-data" class="btn btn-block nav-link btn-primary" type="submit" >Save</button>
     </div>
   </div>
  </div>
</form>
{% endblock %}

<!-- js script for select list in form -->
{% block scripts %}
  {{super()}}
   <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>
   <script src="https://rawgit.com/moment/moment/2.2.1/min/moment.min.js"></script>
   <script>
     //Set the save button disabled in default
     $('form')
         .each(function(){
             $(this).data('serialized', $(this).serialize())
         })
         .on('change input', function(){
             $(this)
                 .find('input:submit, button:submit')
                     .prop('disabled', $(this).serialize() == $(this).data('serialized'))
             ;
          })
         .find('input:submit, button:submit')
             .prop('disabled', true)
     ;
     //only allow subcategory to be choose when the category is Athletics
     $('#form select[name="category"]').on("change", function(event) {
       if(event.target.value != "Athletics"){
         $('#subcategory').prop("disabled", true);
         $('#subcategory').selectpicker('refresh');
       }else{
         $('#subcategory').prop("disabled", false);
         $('#subcategory').selectpicker('refresh');
       }
     })

     //change into local time && set targetAudience&tags value
     window.onload = function() {
       var start_utc = document.getElementById('startDate').value.replace("T", " ");
       console.log(start_utc);
       if(start_utc == null){return;}
       var stillUtc_start = moment.utc(start_utc).toDate();
       var start_local = moment(stillUtc_start).local().format('YYYY-MM-DDTHH:mm:ss');
       console.log(start_local);
       document.getElementById('startDate').value = start_local;

       var end_utc = document.getElementById('endDate').value.replace("T", " ");
       if(end_utc == null){return;}
       var stillUtc_end = moment.utc(end_utc).toDate();
       var end_local = moment(stillUtc_end).local().format('YYYY-MM-DDTHH:mm:ss');
       document.getElementById('endDate').value = end_local;
     }

     //change back to utc time on submit
     var myform = document.getElementById('form');
     myform.onsubmit = function(){
       var start_local = document.getElementById('startDate').value.replace("T", " ");
       var start_utc = new Date(start_local).toISOString();
       document.getElementById('startDate').value = start_utc.replace("Z", "");

       var end_local = document.getElementById('endDate').value.replace("T", " ");
       var end_utc = new Date(end_local).toISOString();
       document.getElementById('endDate').value = end_utc.replace("Z", "");

       myform.submit();
     };


   </script>
{% endblock %}
