{% extends 'base.html' %}

{% block title %}Search Result{% endblock %}

{% block content %}
<div class="card card-body">
  <form action="{{ url_for('event.searchresult') }}" method="post">
    <div class="form-group row">
      <label for="form-eventId" class="col-3 col-form-label">Event Id</label>
      <div class="col">
        <input type="text" class="form-control" id="form-eventId" name="form-eventId">
      </div>
    </div>
    <div class="form-group row ">
      <div class="col-3">Category:</div>
      <div class="col">
        <div class="form-group">
          <select name="category" id = "category" class="selectpicker" title="Category..." >
            {% for key in eventTypeValues %}
              <option value = "{{key}}" id = {{key}}>{{key}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<div id = "accordion">
  {% for post in posts %}
    <div class="card">
      <div class="card-header" role="tab" id = "head">
        <a href="{{url_for('event.detail', eventId=post._id) }}" class="btn btn-default ml-auto float-left">
          <h4 class="mb-0">{{ post.title }}</h4>
        </a>
      </div>
    </div>
  {% endfor %}
</div>


{% endblock %}
