<script>
    $("#materialInline1, #materialInline2, #materialInline3, #materialInline4").on('click', function() {
        let approved = ( $('#materialInline1').is(':checked') ? 1: 0);
        let disapproved = ( $('#materialInline2').is(':checked') ? 1: 0);
        let published = ( $('#materialInline3').is(':checked') ? 1: 0);
        let pending = ( $('#materialInline4').is(':checked') ? 1: 0);
        $.ajax({
            {% if isUser %}
            url: "{{ url_for('user_events.select') }}",
            {% else %}
            url: "{{ url_for('event.select', calendarId=calendarId) }}",
            {% endif %}
            dataType: 'json',
            type    : 'POST',
            data    : {
                approved: approved,
                disapproved: disapproved,
                published: published,
                pending: pending
            },
        }).always(function() {
            location.reload(true);
        });
    })
</script>