{% extends 'base.html' %}

{% from 'events/confirmation.html' import confirmation %}

{% block title %}Setting{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Setting</li>
  </ol>
</nav>

{{ confirmation("download") }}

<div class="row">
  <div class="col-2">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      {% for key, value in sources.items() %}
	    <a class="nav-link" id="v-pills-school-tab" href="{{url_for('event.source', sourceId=key)}}" role="tab" aria-selected="false">{{value[0]}}</a>
      {% endfor %}
      <a class="nav-link active" id="v-pills-school-tab" data-toggle="pill" href="#" role="tab" aria-controls="v-pills-school" aria-selected="true">Setting</a>
    </div>
  </div>
  <div class="col">
    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade show active" id="v-pills-school" role="tabpanel" aria-labelledby="v-pills-school-tab">
        <form action="{{ url_for('event.setting') }}" method="POST">
          <h2>Calendar approval status</h2>
          <button type="button" class="btn btn-primary" id="selectallbutton">Select all</button>
          <button type="button" class="btn btn-primary" id="clearallbutton">Clear all</button>
          {% for sourceid, sourceval in sources.items() %}
            <h4>{{sourceval[0]}}</h4>
            {% for item in sourceval[1] %}
              {% for calid, calval in item.items() %}
                <div class="form-check">
                  {% if allstatus[calid] == "approved" %}
                  <input class="form-check-input" type="checkbox" value="" id="check{{calid}}" name="{{calid}}" checked>
                  {% else %}
                  <input class="form-check-input" type="checkbox" value="" id="check{{calid}}" name="{{calid}}">
                  {% endif %}
                  <label class="form-check-label" for="check{{calid}}">
                    {{calval}}
                  </label>
                </div>
              {% endfor %}
            {% endfor %}
          {% endfor %}

          <button type="submit" class="btn btn-primary">Save</button>
        </form>

        <h2>Daily time configuration</h2>
        <div>
            <label for="scheduletime">Approved events from these calendars will be crawled, parsed, and scheduled to Rokwire everyday at 11:00 PM. Schedule to another time:</label>
            <input type="time" id="scheduletime" name="scheduletime" value="23:00" required>
          <button type="button" class="btn btn-primary" id="schedulebutton">Schedule</button>
        </div>

        <div>
          <span>Calendars will be updated daily. Update immediately
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirmModal">
            Download
            </button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
    <script type="text/javascript">
        $("#schedulebutton").click(function() {
            let time = $("#scheduletime").val()
            console.log("time:"+time)
            $.post("{{ url_for('event.schedule') }}",
            {
              "time": time
            },
            function(data) {
              if (data == "success") {
                console.log("schedule success");
              }
            });
        })
        $("#selectallbutton").click(function() {
          $("input[type=checkbox]").each(function(index) {
            console.log(index)
            $(this).prop('checked', true);
          })
        })
        $("#clearallbutton").click(function() {
          $("input[type=checkbox]").each(function(index) {
            console.log(index)
            $(this).prop('checked', false);
          })
        })

    $("#download").on('click', function(e) {
      // close modal
      $('#confirmModal').modal('hide');
      
      $('#download').attr('disabled', true);
      e.preventDefault();
      let results = [];
      let targets = $("input[type=checkbox]").each(function(index) {
        if ($(this).prop('checked')) {
          results.push($(this).attr('name'));
        }
      });
      $.ajax({
        url: "{{ url_for('event.download') }}",
        dataType: "json",
        contentType:"application/json; charset=utf-8",
        type: "POST",
        data: JSON.stringify(results),
      }).done(function(msg) {
        if (msg.status == 'OK') {
          alert("Download Complete");
        } else {
          alert("Internal Error happened");
        }
        $('#download').attr('disabled', false);
      }).fail(function() {
        alert("Internal Error happened");
        $('#download').attr('disabled', false);
      })
    });
  </script>

{% endblock %}
