{% extends 'base.html' %}

{% block title %}
  User Events
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
      <h1>User Events</h1>&nbsp
    </div>
    <!-- filter and select operations -->
    <div class="row row-content justify-content-center">
      <!--  checkbox group -->
      <div class="form-check form-check-inline">
        <label class="form-check-label" for="materialInline1"><h4>Show</h4></label>
      </div>
      <div class="form-check form-check-inline">
        <input type="checkbox" class="form-check-input" id="materialInline1" {% if "approved" in select_status %}checked{%endif%}>
        <label class="form-check-label" for="materialInline1">
          <span class="badge badge-pill badge-success">Approved </span>
        </label>
      </div>
      <div class="form-check form-check-inline">
          <input type="checkbox" class="form-check-input" id="materialInline2" {% if "disapproved" in select_status %}checked{%endif%}>
          <label class="form-check-label" for="materialInline2">
            <span class="badge badge-pill badge-danger">Disapproved </span>
          </label>
      </div>
      <div class="form-check form-check-inline">
          <input type="checkbox" class="form-check-input" id="materialInline3" {% if "published" in select_status %}checked{%endif%}>
          <label class="form-check-label" for="materialInline3">
            <span class="badge badge-pill badge-info">Published </span>
          </label>
      </div>
      <div class="form-check form-check-inline col-sm-3">
        <input type="checkbox" class="form-check-input" id="materialInline4" {% if "pending" in select_status %}checked{%endif%}>
        <label class="form-check-label" for="materialInline4">
          <span class="badge badge-pill badge-warning">Pending </span>
        </label>
      </div>
      <!-- Search form -->
      <form class="form-inline" id ="searchform" action="{{ url_for('user_events.user_events')}}" method="post">
        <div class="form-group mx-sm-3 mb-2">
          <input type="text" class="form-control" name = "searchInput" placeholder="Search Events..." aria-label="Search">
        </div>
        <button type="submit" class="btn btn-outline-primary mb-2">Search</button>
      </form>
    </div>

    <div class="row row-content">
      <div class="col-12">
        <hr class="divider"/>
        <div id = "accordion">
          {% for eventID in posts_dic%}
            <div class="card">
              <div class="card-header" role="tab", id = "head">
                <div class = "col-12 col-md-11">
                  <a href="{{ url_for('user_events.user_an_event', id=posts_dic[eventID][0]['_id']) }}" class="btn btn-default ml-auto float-left">
                    <h4 class="mb-0" align = "left">{{ posts_dic[eventID][0].title }}</h4>
                  </a>
                </div>
                <div class = "col-12 dropdown">
                  <a class="btn btn-default ml-auto float-right data" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                    <span id="edit_{{eventId}}">
                      <svg height="18" class="octicon octicon-triangle-down v-align-middle" viewBox="0 0 12 16" version="1.1" width="10" aria-hidden="true">
                        <path fill-rule="evenodd" d="M0 5l6 6 6-6H0z"></path>
                      </svg>
                    </span>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right" id="myDropdown">
                    <a class="dropdown-item disabled">Request History</a>
                    <div class="dropdown-divider"></div>
                    {% for post_version in posts_dic[eventID]%}
                      <a id="dataModified" class="dropdown-item dataModified" href="{{ url_for('user_events.user_an_event', id=post_version['_id']) }}">
                          {{post_version.dataModified}}
                        <!-- {% if post_version.eventStatus == "approved" %}
                          <span class="badge badge-pill badge-success">A</span>
                        {% elif post_version.eventStatus == "disapproved"%}
                          <span class="badge badge-pill badge-danger">D</span>
                        {% elif post_version.eventStatus == "pending"%}
                          <span class="badge badge-pill badge-warning">P</span>
                        {% else %}
                          <span class="badge badge-pill badge-info">P</span>
                        {% endif %} -->
                      </a>

                    {% endfor%}
                  </div>
                </div>
              </div>
          </div>
        {% endfor%}
      </div>
    </div>
  </div>

  {{ pagination.links }}

{% endblock %}

{% block scripts %}
  {{ super() }}
  {% include 'events/select_status.html' %}
  <script>
    // var dataModified_utc = document.getElementById('dataModified').innerHTML.replace("T", " ");
    // // var dataModified_local = new Date(dataModified_utc+"Z");
    // document.getElementById('dataModified').innerHTML = dataModified_utc;
    // // log.console(document.getElementById('dataModified').innerHTML);


    $('.dataModified').ready(function(){
      console.log("click");
    });
  </script>

{% endblock %}
