{% extends 'base.html' %}

{% block title %}
  User Events
{% endblock %}

{% block content %}
    <div class="row row-content justify-content-center">
      <h1>User Events</h1>&nbsp
    </div>
    <!-- filter and select operations -->
    <div class="row row-content">
      <!--  checkbox group -->
      <div class="form-check form-check-inline">
        <label class="form-check-label" for="materialInline1"><h4>Show</h4></label>
      </div>
      <div class="form-check form-check-inline">
        <input type="checkbox" class="form-check-input" id="materialInline1">
        <label class="form-check-label" for="materialInline1">Approved</label>
      </div>
      <div class="form-check form-check-inline">
          <input type="checkbox" class="form-check-input" id="materialInline2">
          <label class="form-check-label" for="materialInline2">Disapproved</label>
      </div>
      <div class="form-check form-check-inline col-sm-3">
          <input type="checkbox" class="form-check-input" id="materialInline3">
          <label class="form-check-label" for="materialInline3">Published</label>
      </div>
      <!-- Search form -->
      <form class="form-inline" id ="searchform" action="{{ url_for('user_events')}}" method="post">
        <div class="form-group mx-sm-3 mb-2">
          <input type="text" class="form-control" name = "searchInput" placeholder="Search Events..." aria-label="Search">
        </div>
        <button type="submit" class="btn btn-outline-primary mb-2">Search</button>
      </form>
    </div>

    <div class="row row-content">
      <div class="col-12">
        <hr class="divider"/>
        <div id = "accordion">
          {% for post in posts%}
              <div class="card">
                <div class="card-header" role="tab", id = "head">
                <h3 class="mb-0">
                    <a data-toggle="collapse" data-target="#{{post._id}}">
                      {{ post.title }}
                    </a>
                    <a href="{{ url_for('user_events.user_an_event', id=post['_id']) }}" class="btn btn-default ml-auto float-right">
                      <!-- <span class="fa fa-home fa-lg"></span> -->
                      <h5>></h5>
                    </a>
                </h3>

                </div>
                <div role="tabpanel" class="collapse" id="{{post._id}}">
                    <div class="card-body">
                      <p class="d-none d-sm-block">
                        {% autoescape false %}
                        <p>  {{post.description}} </p>
                        {% endautoescape %}
                    </div>
                </div>
            </div>
          {% endfor%}
        </div>
      </div>
  </div>

  <!-- page navigation -->
  <!-- <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav> -->
{% endblock %}
