{% extends 'base.html' %}

{% block title %}
  User Events
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
      <h1>User Events</h1>&nbsp
    </div>
    <!-- filter and select operations -->
    <div class="row row-content justify-content-center">
      <!--  checkbox group -->
      <div class="form-check form-check-inline">
        <label class="form-check-label" for="materialInline1"><h4>Show</h4></label>
      </div>
      <div class="form-check form-check-inline">
        <input type="checkbox" class="form-check-input" id="materialInline1" {% if "approved" in select_status %}checked{%endif%}>
        <label class="form-check-label" for="materialInline1">Approved</label>
      </div>
      <div class="form-check form-check-inline">
          <input type="checkbox" class="form-check-input" id="materialInline2" {% if "disapproved" in select_status %}checked{%endif%}>
          <label class="form-check-label" for="materialInline2">Disapproved</label>
      </div>
      <div class="form-check form-check-inline col-sm-3">
          <input type="checkbox" class="form-check-input" id="materialInline3" {% if "published" in select_status %}checked{%endif%}>
          <label class="form-check-label" for="materialInline3">Published</label>
      </div>
      <!-- Search form -->
      <form class="form-inline" id ="searchform" action="{{ url_for('user_events.user_events')}}" method="post">
        <div class="form-group mx-sm-3 mb-2">
          <input type="text" class="form-control" name = "searchInput" placeholder="Search Events..." aria-label="Search">
        </div>
        <button type="submit" class="btn btn-outline-primary mb-2">Search</button>
      </form>
    </div>

    <div class="row row-content">
      <div class="col-12">
        <hr class="divider"/>
        <div id = "accordion">
          {% for post in posts%}
              <div class="card">
                <div class="card-header" role="tab", id = "head">
                  <div class = "col-12">
                    <a href="{{ url_for('user_events.user_an_event', id=post['_id']) }}" class="btn btn-default ml-auto float-left">
                      <h4 class="mb-0" align = "left justify">{{ post.title }}</h4>
                    </a>
                  </div>
                  <div class = "col-12 dropdown">
                    <a class="btn btn-default ml-auto float-right" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span id="edit_{{post.eventId}}">
                        <svg height="18" class="octicon octicon-triangle-down v-align-middle" viewBox="0 0 12 16" version="1.1" width="10" aria-hidden="true">
                          <path fill-rule="evenodd" d="M0 5l6 6 6-6H0z"></path>
                        </svg>
                      </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                      <a class="dropdown-item" href="#">Edit History</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </div>
                </div>
            </div>
          {% endfor%}
        </div>
      </div>
  </div>

  <!-- page navigation -->
  <!-- <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav> -->
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script>
    $("#materialInline1, #materialInline2, #materialInline3").on('click', function() {
      let approved = ( $('#materialInline1').is(':checked') ? 1: 0);
      let disapproved = ( $('#materialInline2').is(':checked') ? 1: 0);
      let published = ( $('#materialInline3').is(':checked') ? 1: 0);
      console.log(approved, disapproved, published);
      $.ajax(
        {
          url: "{{ url_for('user_events.select') }}",
          dataType: 'json',
          type    : 'POST',
          data    : {
            approved: approved,
            disapproved: disapproved,
            published: published
          },
        }
      ).always(function() {
        location.reload(true);
      });
    })
    $('a[data-toggle="tooltip"]').tooltip({
       container: 'body'
    });
    $('.editedhistory').tooltip('show')
  </script>
{% endblock %}
